<div class="container">
<form>
  <div class="form-row">
    <div class="form-group col-md-6">

    </div>
    <div class="form-group col-md-6">

    </div>
  </div>
  <div class="form-group">
    <label for="inputTitre">Titre</label>
    <input type="text" class="form-control" id="inputTitre" placeholder="Titre du Livre">
  </div>
  <div class="form-group">
    <label for="inputAuteur">Auteur</label>
    <input type="text" class="form-control" id="inputAuteur" placeholder="Auteur du Livre">
  </div>

  <div class="form-group">
    <label for="inputPage">Nombre de page</label>
    <input type="text" class="form-control" id="inputPage" placeholder="Nombre de page">
  </div>

  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="inputPage">Nombre de page</label>
      <input type="text" class="form-control" id="inputPage">
    </div>


  </div>

  <button type="submit" class="btn btn-primary">Envoyer</button>
</form>
</div>
